<form [formGroup]="form" *ngIf="form">
  <mat-card class="example-card" width="100%" style="margin-top: 30px;">
    <mat-card-content>
      <h4>TENHO CUMPOM</h4>
      <mat-form-field class="example-full-width">
        <input matInput formControlName="coupon" placeholder="Ex. PROMO10">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <div class="flex-container" fxLayout="column" fxLayoutAlign="space-around none">
        <button mat-raised-button [disabled]=" !form.get('coupon').value " color="primary"
        (click)="validateCoupon(form.get('coupon').value)"
        >
          <mat-icon>check</mat-icon> VALIDAR CUPOM
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
