<div *ngIf="sliderImages.length > 0" style="height: 250px;">
  <app-carrousel [sliderImages]="sliderImages"></app-carrousel>
</div>
<div *ngIf="comicsRare.length > 0">
  <app-show-cards [comics]="comicsRare" [name]="'RARIDADES'" [rare]="true"></app-show-cards>
</div>
<div *ngIf="comicsCommon.length > 0">
  <app-show-cards [comics]="comicsCommon" [name]="'OUTROS'">
  </app-show-cards>
</div>

<div fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="space-between center"
  *ngIf="comicsRare.length == 0 && comicsCommon.length == 0">
  <mat-spinner></mat-spinner>
</div>
