<div fxLayoutAlign="space-around none" style=" background-color: #d7d4db;">
  <h1 style="color:#673ab7;">
    <b> Lista de quadrinhos comprados</b>
  </h1>
</div>
<div fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="space-between center">
  <section>
    <table mat-table [dataSource]="comics">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element" fxLayoutGap="10px">
          <button mat-raised-button color="accent" [routerLink]="['/comics/'+  element.id +'/detail']"> Ver detalhes
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
</div>
