<!-- <mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title> This is the expansion title </mat-panel-title>
    <mat-panel-description> This is a summary of the content </mat-panel-description>
  </mat-expansion-panel-header>
  <p>This is the primary content of the panel.</p>
</mat-expansion-panel> -->

<app-carrousel *ngIf="sliderImages.length > 0" [sliderImages]="sliderImages"></app-carrousel>

<div *ngIf="comicsRare.length > 0">
  <app-show-cards [comics]="comicsRare" [name]="'QUADRINHOS RAROS'" [rare]="true"></app-show-cards>
</div>

<div *ngIf="comicsCommon.length > 0">
  <app-show-cards [comics]="comicsCommon" [name]="'QUADRINHOS COMUNS'">
  </app-show-cards>
</div>
