  <mat-card class="example-card" width="100%">
    <mat-card-content>
      <h4>Método de pagamento</h4>
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Escolher</mat-label>
        <mat-select>
          <mat-option *ngFor="let methodPayment of methodsPayments" [value]="methodPayment.value">
            {{methodPayment.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card" width="100%" style="margin-top: 30px;">
    <mat-card-content>
      <h4>Método de pagamento do cartão</h4>
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Escolher</mat-label>
        <mat-select>
          <mat-option *ngFor="let methodPaymentCard of methodsPaymentsCard" [value]="methodPaymentCard.value">
            {{methodPaymentCard.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card" width="100%" style="margin-top: 30px;">
    <mat-card-content>
      <h4>Selecione a parcela</h4>
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Escolher</mat-label>
        <mat-select>
          <mat-option *ngFor="let installmentPaymentCard of installmentsPaymentsCard" [value]="installmentPaymentCard.value">
            {{installmentPaymentCard.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card" width="100%" style="margin-top: 30px;">
    <mat-card-content>
      <h4>Digite o número do cartão</h4>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Ex. 123123" value="">
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
