<div *ngIf="comic">
  <div style="
        position: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.1;
        height: 100%; width: 100%;
        background: url({{ comic.thumbnail.path+'.'+comic.thumbnail.extension }});
    ">
  </div>
  <form [formGroup]="form" *ngIf="form">
    <div fxLayout="collum" style="padding: 30px;">
      <div fxFlex="23">
        <div fxLayout="column">
          <section fxLayoutAlign="center center">
            <app-checkout-image [comic]="comic"></app-checkout-image>
          </section>
          <section fxLayoutAlign="center center" style="margin-top: 10px;">
            <app-checkout-coupon [form]="form" ></app-checkout-coupon>
          </section>
        </div>
      </div>
      <div fxFlex="87" style="padding-left: 30px;">
        <div class="flex-container" fxLayout="column" fxLayoutAlign="space-around none">
          <section>
            <app-checkout-title [comic]="comic" [rare]="rare"></app-checkout-title>
          </section>
          <section>
            <div fxLayout="collum" style="padding-top: 30px;">
              <div fxFlex="77">
                <app-checkout-data [form]="form"></app-checkout-data>
              </div>
              <div fxFlex="33">
                <app-checkout-detail [form]="form"></app-checkout-detail>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </form>
</div>
