<div fxLayoutAlign="space-around none" style=" background-color: #d7d4db;">
  <h1 style="color:#673ab7">
    <b> Comprar quadrinho</b>
  </h1>
</div>
<div *ngIf="comic">
  <div style="
        position: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.1;
        height: 100%; width: 100%;
        background: url({{ comic.thumbnail.path+'.'+comic.thumbnail.extension }});
    ">
  </div>
  <form [formGroup]="form" *ngIf="form">
    <div class="content" fxLayoutGap="15px grid">
      <div fxLayout="column" fxLayoutGap="15px grid" fxLayoutAlign="center center">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <section>
            <app-checkout-title [comic]="comic" [rare]="rare"></app-checkout-title>
          </section>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="15px grid" fxLayoutAlign="center none" >
          <div fxLayout="row wrap" fxLayoutGap="15px grid" fxLayoutAlign="center start" fxFlex.md="30" fxFlex.lg="30"
            fxFlex.xl="30">
            <section fxFlex="32" fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
              <app-checkout-image [comic]="comic"></app-checkout-image>
            </section>
            <section fxFlex="32" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
              <app-checkout-coupon [form]="form" [rare]="rare"></app-checkout-coupon>
            </section>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="15px grid" fxLayoutAlign="center start" fxFlex.md="72" fxFlex.lg="72"
            fxFlex.xl="72">
            <section fxFlex="32" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <div>
                <app-checkout-data [form]="form"></app-checkout-data>
              </div>
            </section>
            <section fxFlex="32" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <div>
                <app-checkout-detail [form]="form" (paymentChange)="paymentChange($event)"></app-checkout-detail>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="space-between center" *ngIf="!comic">
  <mat-spinner></mat-spinner>
</div>
